*.xpr
*.mm
build_xml2sgml.properties.local.xml
build.properties.local.xml
build_sgml2xml.properties.local.xml
errspam.txt
errsx.txt
**/tmp
modules/ata/schemas/sgml/**/*.dtd
modules/ata/schemas/xml/**/*.dtd
modules/s1000d/schemas/sgml/1.8/**/*.dtd
modules/s1000d/schemas/sgml/1.8/**/*.ENT
modules/s1000d/schemas/sgml/1.8/**/*.ent
modules/s1000d/schemas/sgml/1.8/**/*.CFG

